.Rproj.user
.Rhistory
.RData
.Ruserdata
MyFacebook/Encriptar.ipynb
MyFacebook/.ipynb_checkpoints/prepare_comments-checkpoint.ipynb
MyFacebook/MyFacebook.Rproj
MyFacebook/.ipynb_checkpoints/Encriptar-checkpoint.ipynb
